.header-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.header-nav_items {
  list-style-type: none;
  display: flex;
}

.header-nav_items > li {
  padding: 20px;
  font-size: 24px;
}

.restaurants-container {
  display: flex;
  flex-wrap: wrap;
}
.restaurant-card-container {
  width: 200px;
  margin: 10px;
  padding: 10px;
  /* border: 1px solid gray; */
  background-color: #f0f0f0;
}
.restaurant-card-container:hover {
  cursor: pointer;
  border: 1px solid gray;
}

.restaurant-card-container > img {
  width: 200px;
  height: 200px;
}

.btn-filter-top-rated {
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.shimmer-cards {
  width: 200px;
  height: 400px;
  margin: 10px;
  padding: 10px;
  background-color: #f0f0f0;
}

.filter {
  display: flex;
  margin: 10px;
}

.search-filter {
  margin-right: 10px;
}

.user-container {
  padding: 10px;
  border: 1px solid black;
  margin: 10px;
}
